// ==== 首頁 ====
.homeBox {
    // 跑馬燈
    .marquee {
        width: 100%;
        background-color: #000;
        background: linear-gradient(90deg,transparent,#000 25%,#000 75%,transparent);
        color: #fff ;
        .marquee_inner{
            max-width: 800px;
            height: 30px;
            margin: auto;
            display: flex;
            align-items: center;
        }
        .icon {
            width: 18px;
            margin-right: 10px;
        }
    }

    // recDiv start (為您推薦)
    .recDiv {
        padding-top: 100px;
        margin-bottom: 80px;
        .recList {
            margin-bottom: 40px;
            ul {
                display: flex;
                justify-content: center;
            }
            li {
                max-width: 200px;
                flex: 1;
                position: relative;
                cursor: pointer;
                filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.3));

                p {
                    width: 100%;
                    padding: 5px 10px;
                    text-align: center;
                    font-size: 1rem;
                    font-weight: 600;
                    background-color: #00A0E9;
                    color: #fff;
                }
            }
            li+li{
                margin-left: 50px;
            }
        }
        .recInfo {
            height: 18px;
            display: flex;
            justify-content: center;
            overflow: hidden;
            .icon {
                width: 18px;
                height: 18px;
                margin-right: 5px;
                flex-shrink: 0;
                background: url(../images/icon/bonus.svg) no-repeat center / cover;
            }
            .infoList {
                width: 450px;
                font-size: 0.9rem;
                transition: 0.5s;
            }
            p {
                height: 18px;
            }
            span {
                padding: 0 2px;
                font-weight: bold;
            }
        }
    }

    // dlDiv start (APP下載)
    .dlDiv {
        margin-bottom: 80px;
        background: url(../images/background/appDownload.jpg) no-repeat center / cover;
        display: flex;
        justify-content: center;
        .dlleft {
            max-width: 550px;
            margin-right: 80px;
        }
        .dlRight {
            max-width: 560px;
            color: #333;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .dlTop {
                margin-bottom: 20px;
                font-size: 16px;
                .title {
                    margin-bottom: 25px;
                    font-size: 36px;
                    font-weight: bold;
                }
                p {
                    line-height: 25px;
                }
                p+p{
                    margin-top: 20px;
                }
            }

            .dlBottm {
                padding-bottom: 20px;
                display: flex;
                .qrcode {
                    width: 148px;
                }
                .list {
                    padding-bottom: 20px;
                    margin-left: 20px;
                    display: flex;
                    align-items: flex-end;
                    li {
                        position: relative;
                        &::before {
                            content: "";
                            display: inline-block;
                            width: 8px;
                            height: 8px;
                            background-color: #1b91ff;
                            border-radius: 50%;
                            margin-right: 10px;
                        }
                    }
                    li + li {
                        margin-top: 10px;
                    }
                }
            }
        }
    }

    // prefDiv start (優惠活動)
    .prefDiv {
        margin-bottom: 80px;
        @at-root .prefList {
            ul {
                display: flex;
            }
            li {
                padding: 25px;
                flex: 1;
                border-radius: 4px;
                background-color: #fff;
                box-shadow: 0 11px 12px 0 rgba(19, 70, 118, 0.2);
                display: flex;
            }

            li + li {
                margin-left: 40px;
            }
            .picture {
                width: 225px;
                flex-shrink: 0;
                margin-right: 10px;
            }
            .msg {
                width: 100%;
                padding: 10px 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .status {
                    margin-bottom: 15px;
                    div {
                        padding: 3px 15px;
                        border-radius: 3px;
                        background-color: rgb(254, 53, 106);
                        color: #fff;
                        font-size: 12px;
                        letter-spacing: 0.43px;
                        display: inline-block;
                    }
                }
                .title {
                    font-size: 24px;
                    font-weight: bold;
                    color: #000;
                }
                p {
                    color: #666;
                    font-size: 14px;
                }
                p + p {
                    margin-top: 10px;
                }
            }

            .btn {
                display: flex;
            }
            .btn_s02 {
                width: 100%;
                padding: 10px 25px;
                letter-spacing: 0.5px;
                font-size: 14px;
                text-align: center;
            }
        }
    }

    // sponsorDiv start (贊助)
    .sponsorDiv {
        max-width: 1920px;
        height: 400px;
        padding-top: 40px;
        margin: auto;
        padding-left: 40px;
        background: url(../images/background/sponsor.jpg) no-repeat top center / cover;
        display: flex;
        align-items: flex-end;

        & > div {
            width: 100%;
            max-width: 1200px;
            margin: auto;
        }
        .msg {
            margin-bottom: 60px;
            color: #fff;
        }
        .title {
            padding-bottom: 15px;
            font-size: 34px;
            font-weight: bold;
        }
        .btn {
            display: flex;
        }
        .btn_s03 {
            padding: 10px 20px;
            flex-shrink: 0;
        }
    }

    // featureDiv start (產品特色)
    .featureDiv {
        padding: 80px 0;
        background-color: #eff4f8;
        .list {
            ul {
                display: flex;
            }
            li {
                height: auto;
                flex: 1; 
                display: flex;
                flex-direction: column;
                border: 1px solid #ccc; 
                border-radius: 0 0 10px 10px;
            }
            li+li{
                margin-left: 20px;
            }
            .title {
                height: 81px;
                color: #fff;
                font-size: 20px;
                font-weight: 700;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
                background: url(../images/icon/tag_bg.svg) no-repeat center/cover;
                p {
                    max-width: 80%;
                    text-align: center;
                }
            }
            .feature {
                height: 100%;
                padding: 20px 0 30px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                .icon {
                    width: 110px;
                    margin-bottom: 40px;
                }
                .msgList {
                    font-size: 14px;
                    text-align: center;
                    color: #666;
                    & > div + div {
                        margin-top: 18px;
                    }
                }
                .theme {
                    padding-bottom: 5px;
                    color: #32c5ff;
                }
                .num {
                    padding-top: 10px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-end;
                    span {
                        line-height: 30px;
                        padding-right: 10px;
                        font-size: 36px;
                        font-weight: 600;
                        color: #32c5ff;
                    }
                }
                
            }
        }
    }
}
