<!-- ==== 首頁 ==== -->
<div id="page">
    <div class="homeBox">
        <!-- carousel start (輪播) -->
        <div class="carousel">
            <div id="full_carousel" class="swipslider">
                <ul class="sw-slides">
                    <template v-for="(item,index) in carousel">
                        <li class="sw-slide">
                            <img :src="item">
                        </li>
                    </template>
                </ul>
            </div>
        </div>

        <!-- 跑馬燈 -->
        <div class="marquee">
            <div class="marquee_inner">
                <div class="icon">
                    <img src="images/icon/horn.svg">
                </div>
                <ul id="marquee" class="marquee_body">
                    <template v-for="(item,index) in marquee">
                        <li>{{item}}</li>
                    </template>
                </ul>
            </div> 
        </div>

        <!-- recDiv start (為您推薦) -->
        <div class="recDiv">
            <div class="inner">
                <div class="mainTitle">
                    <div class="en">Recommend</div>
                    <div class="ch">為您推薦</div>
                </div>
                <div class="recList">
                    <ul>
                        <template v-for="(item,index) in recList">
                            <li>
                                <div class="avatar">
                                    <img :src="item.img">
                                </div>
                                <p>{{item.title}}</p>
                            </li>
                        </template>
                    </ul>
                </div>
                <div class="recInfo">
                    <div class="icon"></div>
                    <div class="infoList" ref="infoList">
                        <template v-for="(item,index) in recInfo">
                            <p>中獎消息：玩家<span>{{item.player}}</span>在{{item.sort}}中獲得<span>{{item.money}}</span>盈利</p>
                        </template>

                        <p>中獎消息：玩家<span>{{recInfo[0].player}}</span>在{{recInfo[0].sort}}中獲得<span>{{recInfo[0].money}}</span>盈利</p>
                    </div>
                </div>
            </div>

        </div>

        <!-- dlDiv start (APP下載) -->
        <div class="dlDiv">
            <div class="dlleft">
                <img src="images/background/appPhone.png">
            </div>
            <div class="dlRight">
                <div class="dlTop">
                    <div class="title">Owin體育客戶端</div>
                    <p>多款遊戲、輕鬆享樂，用手機版也能輕鬆玩，現在就下載！</p>
                    <p>业内最高赔率，不但支持千万人同时在线，更提供最多赛事以及动画直播/视频直播，让您身临其境，享有独特完整的投注体验。</p>
                </div>
                <div class="dlBottm">
                   
                    <div class="qrcode">
                        <img src="images/icon/qrCode.png">
                    </div>

                    <div class="list">
                        <ul>
                            <li>H5网页版 https://owin.cc</li>
                            <li>扫描二维码下载，支持安卓、ios手机版。</li>
                            <li>建议使用浏览器自带扫描工具。</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <!-- prefDiv start (優惠活動) -->
        <div class="prefDiv">
            <div class="inner">
                <div class="mainTitle">
                    <div class="en">Promotions</div>
                    <div class="ch">優惠活動</div>
                </div>
                <div class="prefList">
                    <ul>
                        <template v-for="(item,index) in prefList">
                            <li>
                                <div class="picture">
                                    <img :src="item.img">
                                </div>
                                <div class="msg">
                                    <div class="top">
                                        <div class="status">
                                            <div>進行中</div>
                                        </div>
                                        <p class="title">{{item.title}}</p>
                                        <p>參與時間：{{item.time01}}~{{item.time02}}</p>
                                        <p>適用平台：{{item.platform}}</p>
                                    </div>
    
                                    <div class="btn">
                                        <div class="btn_s02">查看詳情</div>
                                    </div>
                                </div>
                            </li>
                        </template>
                    </ul>
                </div>
            </div>
        </div>

        <!-- sponsorDiv start (贊助) -->
        <div class="sponsorDiv">
            <div>
                <div class="msg">
                    <div class="title">Owin贊助</div>
                    <p>全球唯一四大頂級賽事贊助商，深度贊助多支頂級球隊</p>
                </div>
                <div class="btn">
                    <div class="btn_s03">更多精彩贊助信息</div>
                </div>
            </div>
        </div>

        <!-- featureDiv start (產品特色) -->
        <div class="featureDiv">
            <div class="inner">
                <div class="mainTitle">
                    <div class="en">Feature</div>
                    <div class="ch">產品特色</div>
                </div>
                <div class="list">
                    <ul>
                        <template v-for="(item,index) in featureList">
                            <li>
                                <div class="title">
                                    <p>{{item.title}}</p>     
                                </div>
                                <div class="feature">
                                    <div class="icon">
                                        <img :src="item.img">
                                    </div>
                                    <div class="msgList">
                                        <template v-for="(i,index) in item.list">
                                            <!-- 樣式1 -->
                                            <div v-if="i.style == 1">
                                                <div class="theme">{{i.theme}}</div>
                                                <p>{{i.ann}}</p>
                                            </div>
                                            
                                            <!-- 樣式2 -->
                                            <div v-if="i.style == 2">
                                                <p class="num"><span>{{i.num}}</span>{{i.ann}}</p>
                                            </div>
                                        </template>
                                    </div>
                                </div>   
                            </li>
                        </template>
                    </ul>
                </div>
    </div>
</div>

</div>
</div>

<script>
    Vue.createApp({
        data() {
            return {
                marquee: marquee,
                carousel: carousel,
                recList: recList,
                recInfo: infoList,
                info: {
                    timer: '',
                    num: 0,
                },
                prefList: prefList,
                featureList: featureList,

            };
        },
        methods: {
            // 啟動輪播外掛
            full_carousel() {
                $('#full_carousel').swipeslider();
            },
            startMarquee() {
                // 啟動跑馬燈外掛
                $("#marquee").marquee({
                    pauseOnHover: true
                });
            },
            // 啟動輪播中獎訊息
            startInfo() {
                let length = parseInt(this.recInfo.length);
                let self = this

                this.info.timer = setInterval(() => {
                    this.info.num++
                        if (this.info.num == length) {
                            setTimeout(function() {
                                self.info.num = 0;
                                self.$refs.infoList.style.transition = '0s';
                                self.$refs.infoList.style.transform = `translateY(-${0}px)`;
                            }, 500)
                        } else {
                            self.$refs.infoList.style.transition = '.5s';
                        }
                    this.$refs.infoList.style.transform = `translateY(-${this.info.num*18}px)`;
                }, 2000)
            },
        },
        beforeDestroy() {
            //銷燬前清除定時器
            clearInterval(this.info.timer);
        },
        mounted() {
            this.full_carousel();
            this.startInfo();
            this.startMarquee();
        },
    }).mount("#page");
</script>